@page "/forgetpassword"
<div id="forgetPassword">
        <form action="identity/forgetPassword" method="POST">
            <input type="text" name="userIdentity" id="userIdentity"/>
            <input type="submit">
        </form>
    </div>
    