@page "/"
<div>
    Gatekeeper
</div>
<div id="nav">
    <ul>
        <l1><a href="identity/login">Login</a></l1>
        <l1><a href="identity/verify">Verify</a></l1>
        <l1><a href="identity/register">Register</a></l1>
        <l1><a href="identity/forgetPassword">ForgetPassword</a></l1>
        <l1><a href="identity/resetPassword">ResetPassword</a></l1>
        <l1><a href="identity/logout">logout</a></l1>
    </ul>
</div>




